<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>EmployeeServer</servlet-name>
    <servlet-class>com.logicbig.example.serverlet.EmployeeServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServer</servlet-name>
    <url-pattern>/employeeserver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>EmployeeServer</servlet-name>
  <url-pattern>/details</url-pattern>
</servlet-mapping>

</web-app>
